[submodule "dev_kits/v1/micropython-docker"]
	path = dev_kits/v1/micropython-docker
	url = https://github.com/derekenos/micropython-docker.git
[submodule "dev_kits/v1/filesystem/lib/femtoweb"]
	path = dev_kits/v1/filesystem/lib/femtoweb
	url = https://github.com/derekenos/femtoweb.git
[submodule "dev_kits/v1/filesystem/public"]
	path = dev_kits/v1/filesystem/public
	url = https://github.com/derekenos/iome-public.git
[submodule "appliances/sketchy/filesystem/lib/femtoweb"]
	path = appliances/sketchy/filesystem/lib/femtoweb
	url = https://github.com/derekenos/femtoweb.git
